<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="inputName" placeholder="name">
                  </div>
<!--                  <div class="col-sm-6">-->
<!--                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">-->
<!--                  </div>-->
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="inputEmail" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="inputPassword" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="repeatPassword" placeholder="Repeat Password">
                  </div>
                </div>

                <input id="signUpBtn" type="button" class="btn btn-primary btn-user btn-block" value="Register Account"/>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="login">Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{js/sb-admin-2.min.js}"></script>
  <script th:inline="javascript">
    $(function(){
      $('#signUpBtn').click(function(){
        let name = $('#inputName').val();
        let email = $('#inputEmail').val();
        let passwd = $('#inputPassword').val();
        let repasswd = $('#repeatPassword').val();
        if(name==''||email==''||passwd==''||repasswd==''){
          alert('모든 값을 입력하세요.');
          return;
        }

        if(passwd!=repasswd){
          alert('패스워드가 일치하지 않습니다.');
          $('#repeatPassword').val('');
          return;
        }


        $.ajax({
          type : 'GET',
          url : '/duplicateCheck',
          // dataType : 'json',
          contentType : 'application/json; charset=utf-8',
          data : {email : email}
        }).done(function(result){
          //중복
          if(result == true){
            alert('중복된 email입니다.');
          }
        }).fail(function (error) {
          alert(JSON.stringify(error));
        });

        let data = {
          name : name,
          email : email,
          passwd : passwd
        };


        $.ajax({
          type : 'POST',
          url : '/register',
          // dataType : 'json',
          contentType : 'application/json; charset=utf-8',
          data : JSON.stringify(data)
        }).done(function(result){
          if(result == true){
            alert('회원가입 성공');
            window.location.href = '/login';
          }
          else{
            alert('회원가입 실패');
            $('#inputEmail').val('');
          }

        }).fail(function (error) {
          alert(JSON.stringify(error));
        });


      });
    })
  </script>
</body>

</html>
